<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <!-- navbar -->
      <%- include('inc/_header'); -%>
      <!-- navbar sara -->

      <!-- home body -->
      <div class="container">
        <div class="homeFrom">
          <div class="profilImg">
            <img src="../img/user.png" alt="user img" />
          </div>
          <h1>Log In</h1>
          <form action="/user/login" method="post">
            <input
              class="urlInput"
              name="userName"
              value="<% if(locals.succ) {%> <%= locals.succ.data %> <%} %>"
              required
              type="email"
              placeholder="Your email"
            />
            <input
              class="shortUrl"
              name="pass"
              required
              type="password"
              placeholder="password"
            />
            <a class="rst" href="/user/reset">Reset Password.</a>
            <input class="subBtn" type="submit" value="Sign In" />
          </form>

          <% if(locals.succ) { %>
          <p class="succ"><%= locals.succ.massage %></p>
          <% } %>
          <% if(locals.err) { %>
          <p class="err"><%= locals.err.massage %></p>
          <% } %>
        </div>
      </div>
    </div>
    <!-- home body end -->
  </body>
</html>
