<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Roboto:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main">
      <!-- navbar -->
      <%- include('inc/_header'); -%>
      <!-- navbar sara -->

      <!-- home body -->
      <div class="container">
        <div class="homeFrom">
          <div class="regImg">
            <img src="../img/regstration.png" alt="user img" />
          </div>
          <h1>Sign in</h1>
          <form action="/user/regs" method="post">
            <input class="urlInput" required type="text" name="user" placeholder="Emial" />
            <input class="urlInput" required type="password" name="pass" placeholder="Password" />
            <input class="urlInput" required type="password" name="repass" placeholder="Retype Password" />
            <input class="subBtn" type="submit" value="Regstration" />
          </form>
          <% if(locals.err) { %>
           <p class="err"><%= locals.err.massage %></p>
          <% } %>
        </div>
      </div>
    </div>
    <!-- home body end -->
  </body>
</html>
